<ul>
<%= if @current_client do %>
  <li><%= @current_client.email %></li>
  <li><%= link "Settings", to: Routes.client_settings_path(@conn, :edit) %></li>
  <li><%= link "Log out", to: Routes.client_session_path(@conn, :delete), method: :delete %></li>
<% else %>
  <li><%= link "Register", to: Routes.client_registration_path(@conn, :new) %></li>
  <li><%= link "Log in", to: Routes.client_session_path(@conn, :new) %></li>
<% end %>
</ul>
